html {
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 1rem;
  font-family: "Lato", sans-serif;
  font-weight: 100;
}

.header {
  margin-top: -4rem;
  height: 95vh;
  width: 100%;
  background: linear-gradient(
      to right bottom,
      rgba(0, 255, 255, 0.5),
      rgba(0, 0, 255, 0.5)
    ),
    url(../img/clg1.jpeg);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  z-index: 10;
}
.header-contact {
  height: 25vh;
  background-position: center;
  position: relative;
}

.header-box {
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 40%;
  left: 50%;
  text-align: center;
}

.header-primary {
  transition: all 0.3s;
  text-shadow: 0.5rem 0.5rem 0.4rem rgba(0, 0, 0, 0.513);
}

.header-primary-main {
  font-size: 4rem;
  display: inline-block;
  letter-spacing: 0.8rem;
  padding-bottom: 1.5rem;
  font-weight: 400;
  animation: maintext 0.8s ease-out 0.2s;
  animation-fill-mode: backwards;
}

@keyframes maintext {
  0% {
    transform: translate(-50%);
    opacity: 0;
  }
  80% {
    transform: translate(10px);
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}

.header-primary-sub {
  letter-spacing: 0.9rem;
  font-weight: 400;
  animation: subtext 0.8s ease-out 0.2s backwards;
  padding-bottom: 7rem;
}

@keyframes subtext {
  0% {
    transform: translate(50%);
    opacity: 0;
  }
  80% {
    transform: translate(-10px);
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}

.header-primary:hover {
  transform: scale(1.1);
  text-shadow: 0.8rem 0.8rem 1rem rgba(0, 0, 0, 0.808);
}

.btn:link,
.btn:visited {
  user-select: none;
  color: #535353;
  background-color: #fff;
  font-size: 1.6rem;
  font-weight: 300;
  padding: 1.5rem 2.5rem;
  border-radius: 10rem;
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s linear;

  position: relative;
}
.header-btn {
  animation: slideup 0.5s linear 0.8s;
  animation-fill-mode: backwards;
}

.btn::after {
  content: "";
  height: 100%;
  width: 100%;
  background-color: #fff;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10rem;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

.btn:hover::after {
  transform: scaleX(1.5);
  transform: scaleY(1.3);
  opacity: 0;
}

@keyframes slideup {
  from {
    transform: translateY(20rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.btn:hover::after {
  background-color: #fff;
  transform: scale(2);
}

.header .btn:hover {
  transform: translateY(-0.5rem);
  cursor: pointer;
  box-shadow: 0.8rem 0.8rem 2rem rgba(0, 0, 0, 0.561);
}

.header .btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0.8rem 0.8rem 1rem rgba(0, 0, 0, 0.561);
}
.bi {
  padding: 1rem 0.3rem;
  transition: transform 0.3s linear;
}
#navdesk .dropdown:hover .bi {
  display: inline-block;
  transform: rotateZ(180deg);
}

#navdesk {
  height: 4rem;
  background-color: transparent;
  backdrop-filter: blur(3px);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: nowrap;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  right: 0;
  z-index: 5000;
}

.mob-nav {
  width: 5rem;
  height: 5rem;
  text-align: center;
  padding: 0.5rem 0;
  display: inline-block;
  background-color: #fff;
  border-radius: 50%;
  /* border: 2px solid rgb(66, 66, 66); */
  position: fixed;
  right: 5%;
  top: 5rem;
  font-size: 3.5rem;
  color: rgb(66, 66, 66);
  z-index: 6000;
  font-weight: 300;
  transition: all 0.2s linear;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.603);
}
.mob-nav:hover {
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.603);
  transform: translateY(-2px);
}
.mob-nav:active {
  transform: translateY(2px);
}

#navdesk a {
  font-weight: 700;
  font-size: 1.6rem;
  text-decoration: none;
  color: #505050;
  padding: 1rem 1.5rem;
  transition: all 0.3s ease-out;
}

#navdesk .dropdown .dropbtn {
  background-color: transparent;
  font-size: 1.6rem;
}

.dropdown .dropbtn,
.dropdown2 .dropbtn2,
.dropdown3 .dropbtn3,
.dropdown4 .dropbtn4,
.dropdown5 .dropbtn5,
.dropdown6 .dropbtn6 {
  border: none;
  font-family: inherit;
  font-weight: 700;
  text-decoration: none;
  color: #505050;
  padding: 0 1.5rem;
  width: max-content;
  height: 4.5rem;
  transition: all 0.3s ease-out;
  background-color: white;
  margin-right: 2px;
}

#navdesk .dropdown .dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

#navdesk .dropdown .dropdown-content a {
  font-size: 1.3rem;
  float: none;
  color: #505050;
  padding: 1.2rem 1.6rem;
  text-decoration: none;
  display: block;
  text-align: left;
  margin: 2px 2px 2px 0;
  background-color: #ffffff;
}

#navdesk .dropdown .dropdown-content a:hover {
  background-color: royalblue;
  color: #fff;
}

#navdesk a:hover,
#navdesk .dropdown:hover .dropbtn {
  color: white;
  background-color: #3c61d1;
  border-bottom: 2px solid #ffffff;
}

#navdesk .dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn2,
.dropbtn3,
.dropbtn4,
.dropbtn5,
.dropbtn6 {
  margin: 1px 0;
}

.dropdown2:hover .dropbtn2,
.dropdown3:hover .dropbtn3,
.dropdown4:hover .dropbtn4,
.dropdown5:hover .dropbtn5,
.dropdown6:hover .dropbtn6 {
  background-color: #4169e1;
  color: white;
}

.dropdown-content2,
.dropdown-content3,
.dropdown-content4,
.dropdown-content5,
.dropdown-content6 {
  float: right;
  display: none;
}

.dropdown2:hover .dropdown-content2,
.dropdown3:hover .dropdown-content3,
.dropdown4:hover .dropdown-content4,
.dropdown5:hover .dropdown-content5,
.dropdown6:hover .dropdown-content6 {
  display: block;
}

.dropdown2 .dropbtn2,
.dropdown3 .dropbtn3,
.dropdown4 .dropbtn4,
.dropdown5 .dropbtn5,
.dropdown6 .dropbtn6 {
  width: 22rem;
  text-align: left;
  font-size: 1.3rem;
}

.logo-box {
  position: absolute;
  margin-top: 4rem;
  margin-left: 2rem;
}

.logo-box img {
  height: 11rem;
}

.administration-section,
.news-section,
.contact-section {
  background-color: #f7f7f7;
  margin-top: -15rem;
  padding: 25rem 0;
}

.heading-secondry {
  font-size: 4rem;
  /* display: inline-block; */
  background: linear-gradient(to right bottom, aqua, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  text-align: center;
  transition: all 0.2s linear;
}

.heading-secondry:hover {
  -webkit-transform: skewY(2deg) skewX(15deg) scale(1.1);
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem #575757;
}

.administration-container {
  padding: 10rem 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  color: #5c5c5c;
  line-height: 1.7;
  font-size: 1.6rem;
}

.administration-textbox {
  padding: 3rem;
  width: 65rem;
}

.administration-textbox-main {
  font-size: 2rem;
  padding-bottom: 2rem;
}

.administration-textbox p {
  padding-bottom: 5rem;
}
.administration-img {
  width: 50rem;
  /* width: 90%; */
  height: 50rem;
  display: flex;
  justify-content: center;
  margin-top: 7rem;
  position: relative;
}
.administration-img .img1,
.administration-img .img2,
.administration-img .img3 {
  height: 20rem;
  width: 20rem;
  position: absolute;
  background-size: contain;
  background-position: center;
  /* background-repeat: no-repeat; */
  transition: all 0.2s ease-out;
  box-shadow: 1rem 1rem 1.5rem rgba(0, 0, 0, 0.623);
}
.img1 {
  background-image: url(../img/img1.jpg);
  top: 3rem;
  left: 0;
}
.img2 {
  background-image: url(../img/img3.jpg);
  top: 0;
  z-index: 2;
}
.img3 {
  background-image: url(../img/img2.jpg);
  top: 3rem;
  right: 0;
}
.administration-img .img1:hover,
.administration-img .img2:hover,
.administration-img .img3:hover {
  outline: 1rem solid royalblue;
  z-index: 3;
  transform: scale(1.1);
  box-shadow: 1.5rem 1.5rem 5rem rgb(0, 0, 0);
}

.courses-section {
  margin-top: -40rem;
  height: max-content;
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 255, 255, 0.5),
      rgba(0, 0, 255, 0.5)
    ),
    url(../img/1-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  clip-path: polygon(0 20%, 100% 0%, 100% 80%, 0% 100%);
  padding: 30rem 0;
  font-size: 1.6rem;
  /* overflow: scroll; */
}

.box-container {
  width: 100%;
  height: 75%;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-evenly;
  align-items: center;
}
.courses-head {
  background: linear-gradient(
    to right bottom,
    rgb(0, 247, 255),
    rgb(255, 255, 255)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 2rem;
}
.courses-box {
  text-align: center;
  width: 25rem;
  height: 35rem;
  background-color: #f7f7f7d8;
  border-radius: 1rem;
  color: #5c5c5c;
  padding: 1rem;
  margin: 1rem;
  transition: all 0.2s linear;
}

.courses-box:hover {
  transform: translateY(-10px);
  box-shadow: 0rem 0rem 2rem rgba(41, 41, 41, 0.678);
}

.courses-box .box-icon {
  display: inline-block;
  font-size: 7rem;
  padding: 1.5rem 0;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(aqua),
    to(blue)
  );
  background-image: linear-gradient(to right, aqua, blue);
  -webkit-background-clip: text;
  color: transparent;
}

.courses-box .box-text-head {
  padding-bottom: 1rem;
}

.footer {
  background-color: #292929;
  padding: 5rem 0;
}

.footer-logo-box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 5rem;
}

.footer-logo-box img {
  height: 20rem;
}

.footer-row {
  color: #fff;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 1.6rem;
  padding: 0 2rem;
}

.footer-row-1,
.footer-row-2 {
  padding: 4rem 1rem;
  border-top: 1px solid white;
  width: 50rem;
}

.footer-row a:link,
.footer-row a:visited {
  color: #fff;
  text-decoration: none;
}

.modal {
  background-color: white;
  border-radius: 5px;
  width: fit-content;
  width: 70vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  box-shadow: 0px 0px 30px black;
  line-height: 1.7;
  z-index: 3000;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  width: 100%;
  height: 100%;
  z-index: 2000;
}

.text {
  font-size: 20px;
}

.close-modal {
  float: right;
  border: none;
  font-size: 3rem;
  background-color: transparent;
  transition: all 0.1s linear;
}

.close-modal:hover {
  text-shadow: 2px 2px 2px #353535;
  transform: scale(1.5);
  cursor: pointer;
}

.hidden {
  display: none;
}

.modal-window {
  font-size: 1.6rem;
}

.modal .stay {
  display: block;
  padding-left: 2rem;
  border: 1px solid royalblue;
  border-radius: 0.5rem;
}

.modal .modal-head-main {
  text-align: center;
  margin-bottom: 3rem;
  color: royalblue;
}

.modal .modal-head-sub {
  color: royalblue;
}

.modal .text {
  margin-left: 2rem;
}

.modal .modal-link {
  text-decoration: none;
  color: #494949;
}

.modal .modal-link:hover {
  color: #5643fa;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.65);
}
.news-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.news-head {
  display: block;
  transform: rotateZ(-90deg);
}

.news-rolling-container {
  width: 75rem;
  height: 40rem;
  padding: 1rem;
  box-shadow: 0 0 2rem rgb(165, 165, 165);
  border-radius: 1rem;
  font-size: 1.6rem;
  line-height: 1.7;
  overflow: hidden;
  transition: transform 0.3s ease-out;
}
.news-rolling-container .news-slide a {
  padding: 2rem;
  display: block;
  text-decoration: none;
  color: #2e2e2e;
}
.news-rolling-container .news-slide {
  animation: news-slideup 30s linear infinite;
}
.news-rolling-container .news-slide:hover {
  animation-play-state: paused;
}
.section-white {
  background-color: #fff;

  padding-bottom: 5rem;
  /* margin-bottom: 25rem; */
}
.contact-section .heading-contact-secondry {
  font-size: 3rem;
  margin: 2rem 2rem;
}
.contact-container {
  margin: auto;
  height: 50rem;
  width: 85vw;
}

.contact-content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: max-content;
  margin: 3rem 0;
  color: rgba(41, 41, 41, 0.753);
  width: 100%;
  border-radius: 2rem;
  overflow: hidden;
}
.contact-content .image {
  height: 50rem;
  background-image: url(../img/business-man-working-hard-stock-financial-trade-market-diagram-vector-illustration-flat-design_1150-39773.jpg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;
  width: 50%;
  padding: 2rem;
  border-radius: 2rem;
}
.contact-content .contact-field {
  font-size: 1.6rem;
  padding: 2rem;
  width: 50%;
  height: 100%;
}
.heading-contact-sub {
  font-size: 2rem;
  padding-top: 2rem;
}
.contact-content .contact-field .contact-link {
  text-decoration: none;
  color: rgba(41, 41, 41, 0.753);
}
.contact-content .contact-field .contact-link:hover {
  color: rgb(0, 0, 0);
  text-shadow: 0.1rem 0.1rem 0.2rem black;
}

@keyframes news-slideup {
  from {
    transform: translateY(40rem);
  }
  to {
    transform: translateY(-60rem);
  }
}
.blink {
  margin-right: 1rem;
  background-color: red;
  color: #fff;
  font-weight: 700;
  padding: 0.5rem;
  border-radius: 1rem;
  animation: blink 1s linear infinite;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.admission-section {
  height: 80rem;
  background: linear-gradient(to right, aqua, blue);
  padding: 2rem;
  position: relative;
}
.admission-container {
  width: 85vw;
  height: 50rem;
  background-image: url(../img/clg1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: content-box;
  background-position: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.admission-input-field {
  width: 60%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.726);
  background-position: bottom center;
  clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
.admission-input-field input {
  border: none;
  /* width: 60%; */
  font-size: 2rem;
  padding: 1rem;
  margin: 1rem;
}

.admission-heading {
  margin-bottom: 7rem;
}
.radio {
  margin: 3rem 0;
  font-size: 1.6rem;
}

.admission-input-field .contact-btn {
  width: 15rem;
  text-align: center;
  background-color: royalblue;
  color: #fff;
}
.admission-input-field .contact-btn::after {
  background-color: royalblue;
}

.heading-contact-main {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  color: #fff;
  font-size: 5rem;
  width: max-content;

  animation: cont-slide 0.8s ease-out 0.2s backwards;
}
@keyframes cont-slide {
  0% {
    left: 0;
    opacity: 0;
  }
  80% {
    left: 52%;
  }
  100% {
    left: 50%;
    opacity: 1;
  }
}
.footer-row .footer-row-1 a,
.footer-row .footer-row-2 a {
  transition: all 0.1s linear;
}
.footer-row .footer-row-1 a:hover,
.footer-row .footer-row-2 a:hover {
  display: inline-block;
  color: rgb(0, 153, 0);
  transform: rotateZ(5deg);
  box-shadow: 0 0 1rem rgb(44, 44, 44);
}
@media screen and (max-width: 500px) {
  body {
    margin: 0;
  }
  .courses-section {
    clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0% 100%);
  }
  .courses-box {
    width: 85vw;
    margin-bottom: 5rem;
  }
  html {
    font-size: 50%;
  }
  .news-rolling-container {
    height: 50rem;
  }
  .admission-container {
    background-image: none;
  }
  .admission-input-field {
    clip-path: none;
    width: 90vw;
  }
  .contact-btn {
    margin: auto;
  }
  .admission-heading {
    margin-bottom: 4rem;
  }
}

@media screen and (max-width: 1000px) {
  .box-container {
    flex-wrap: wrap;
  }
  .news-container {
    flex-wrap: wrap;
  }
  .news-rolling-container {
    margin: 0 2rem;
  }
  .news-head {
    transform: rotateZ(0);
    padding-bottom: 5rem;
  }
  .admission-container,
  .contact-container {
    width: 90vw;
  }

  .contact-content .image {
    width: 50rem;
  }
  .contact-content .contact-field {
    width: 50rem;
  }
  .section-white {
    height: 135rem;
  }
  .contact-content {
    flex-wrap: wrap;
  }
  #navdesk {
    position: fixed;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    background: linear-gradient(to right, aqua, blue);
    flex-direction: column;
    justify-content: center;
    word-break: keep-all;
    transition: all 0.3s linear;
  }

  .active {
    height: 100vh !important;
  }
  #navdesk a {
    color: #fff;
    font-size: 2.7rem;
  }
  #navdesk .dropdown .dropbtn {
    background-color: transparent;
    font-size: 2.7rem;
    color: #fff;
  }
}
@media screen and (min-width: 1000px) {
  .news-rolling-container:hover {
    transform: scale(1.1);
  }
  .mob-nav {
    display: none;
  }
}
@media screen and (min-width: 1500px) {
  .news-rolling-container {
    width: 100rem;
  }
}
